body{
    background-color: #53d858;
}

.container{
    background-color: #53d858;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card {
    background: white;
    width: 257px;
    height: 418px;
    border-radius: 15px;
    font-size: 6rem;
    font-weight: bold;
    box-shadow: 10px 5px 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.numbers::before {
    content: '\2660';
    font-size: 4rem;
    position: absolute;
    left: 15px;
    top: 15px;
}
.numbers::after {
    content: '\2660';
    font-size: 4rem;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform: rotate(180deg);
}

.card.hearts, .card.diamonds {
    color: red;
}
.card.spades, .card.clubs {
    color: black;
}

.card.hearts .numbers::before, .card.hearts .numbers::after {
    content: '\2665';
}
.card.diamonds .numbers::before, .card.diamonds .numbers::after {
    content: '\2666';
}
.card.spades .numbers::before, .card.spades .numbers::after {
    content: '\2660';
}
.card.card.clubs .numbers::before, .card.card.clubs .numbers::after {
    content: '\2663';
}
/* .blackSuit{
    color: black;
} */
